<div style="float: left;width: 20%;margin-top: 10px">
    <button class="button icon-navicon" data-target="#nav-main1">
    </button>
    <ul class="nav nav-main nav-navicon" id="nav-main1">
        <li class="nav-head"><span>管理</span></li>
        <li><a href="/app/manage-book/"><span>图书管理</span></a></li>
        <li><a href="/app/manage-user/"><span>用户管理</span></a></li>
        <li><a href="/app/manage-new/"><span>新闻管理</span></a></li>
        <li><a href="/app/manage-bb/"><span>借书管理</span></a></li>
    </ul>
</div>